@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post">
    <label asp-for="Schema">Schema:</label>
    <input asp-for="Schema"/>
    <button type="submit">Submit</button>
</form>

@if (!string.IsNullOrEmpty(Model.Result))
{
    <pre>@Model.Result</pre>
}
else
{
    <p>No result</p>
}